#Backend
backend/src/main/resources/mentovia-c6352-firebase-adminsdk-fbsvc-68406e962d.json
backend/target/classes/*.json
# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE
.idea/
*.iml

*.swp
*.swo

# OS
.DS_Store
Thumbs.db
